<ion-view view-title="EditMeetup">
    <ion-header-bar class="bar bar-royal">
        <div class="button button-clear">
            <a class="button button-clear ion-chevron-left" ui-sref="tab.meetups"></a>
        </div>
        <h1 class="title">Edit Meetup</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list group-form">
            <label class="item item-input item-stacked-label">
                <span class="input-label make-royal">Date</span>
                <input class="text-field make-royal" type="text" ng-model="meetup.date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label make-royal">Time</span>
                <input class="text-field make-royal" type="text" ng-model="meetup.time">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label make-royal">Location</span>
                <input class="text-field make-royal" type="text" ng-model="meetup.location">
            </label>
        </div>
        <button class="button button-full button-stable button-clear" ng-click="remove()" type="button">Delete Meetup</button>
    </ion-content>
    <div class="bar bar-royal bar-footer footer-button">
        <a class="button button-full button-clear" ng-disabled="!meetup.date || !meetup.time || !meetup.location" ng-click="editMeetup()">Update</a>
    </div>
</ion-view>