<ion-view title="Profile">
    <ion-header-bar class="bar bar-royal">
        <a class="button ion-chevron-left button-clear" ng-click="goBack()"></a>
        <h1 class="title">Profile</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list group-form">
            <form ng-submit="editProfile()">
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">First name</span>
                    <input type="text" class="make-royal" placeholder="First name" ng-model="user.first_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">Last name</span>
                    <input type="text" class="make-royal" placeholder="Last name" ng-model="user.last_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">Username</span>
                    <input type="text" class="make-royal" placeholder="Username" ng-model="user.username">
                </label>
                <div class="center-error">
                    <button class="button button-full button-clear button-stable" ng-click="deleteAccount()" type="button">Delete Account</button>
                </div>
            </form>
        </div>
    </ion-content>
    <div class="bar bar-royal bar-footer footer-button">
        <a class="button button-full button-clear" ng-disabled="!user.username || !user.first_name || !user.last_name" ng-click="editProfile()">Update</a>
    </div>
</ion-view>