<ion-view title="Signup">
    <ion-header-bar class="bar bar-royal">
        <a class="button ion-chevron-left button-clear" ng-click="goBack()"></a>
        <h1 class="title">Meetle</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list signup-form">
            <form ng-submit="signup()">
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">First name</span>
                    <input type="text" class="make-royal" placeholder="First Name" ng-model="user.first_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">Last name</span>
                    <input type="text" class="make-royal" placeholder="Last Name" ng-model="user.last_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">Username</span>
                    <input type="text" class="make-royal" placeholder="Username" ng-model="user.username">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">Password</span>
                    <input type="password" class="make-royal" placeholder="Password" ng-model="user.password1">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label make-royal">Confirm</span>
                    <input type="password" class="make-royal" placeholder="Confirm Password" ng-model="user.password2">
                </label>
                <div class="center-error">
                    <div ng-if="user.error" class="error">{{user.error}}</div>
                </div>
            </form>
        </div>
    </ion-content>
    <div class="bar bar-royal bar-footer footer-button">
        <a class="button button-full button-clear" ng-disabled="!user.username || !user.password1 || !user.password2 || !user.first_name || !user.last_name" ng-click="signup()">Sign Up</a>
    </div>
</ion-view>