<ion-view view-title="Chat">
  <ion-header-bar class="bar-positive">
    <!-- on click, go to the subgroup page -->
    <a class="button button-clear ion-chevron-left" ui-sref="subGroups"></a>
    <h1 class="title">{{currentSubGroup.title}}</h1>
    <a class="button button-clear ion-gear-a" ui-sref="subGroupSettings"></a>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <!-- for each 'chat' in '$scope.chats', display the user's profile picture, the user's username (field in Chat MongoDB object), and the message's text (field in Chat MongoDB object)-->
      <div class="item item-button-right item-avatar item-text-wrap" ng-repeat="chat in chats | orderBy:sent">
        <img class="img-circle" src="../img/ionic.png"> <!--ng-src="{{post.profilePicture}}"-->
        <h2>{{chat.user_username}}</h2>
        <p>{{chat.text}}</p>
        <!-- from documentation: "Special properties are exposed on the local scope of each template instance, including iterator offset $index" -->
        <div class="button button-clear" ng-click="likeChat(chat, $index)">
          <button class="button button-clear button-assertive icon" ng-class="chat.liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></button>
        </div>
      </div>
      <!-- would the second array go here? how do I make it continuous with the above list-->
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <!-- provides a text field and will execute addChat() if 'Return' is pressed -->
      <form ng-submit="add()" class="text-input">
        <input class="text-field" type="text" placeholder="message" ng-model="messageText" autofocus>
      </form>
    </label>
    <!-- the 'send' button is disabled if no text is entered by the user. If the user enters text and then clicks the now enabled button, addChat() is called -->
    <!-- this means that either pressing 'Return' or clicking the button will result in add() being called -->
    <button type="submit" class="button button-positive button-clear" ng-click="add()" ng-disabled="!messageText">Send</button>
  </ion-footer-bar>
</ion-view>