<ion-view view-title="Chat">
  <ion-header-bar class="bar-royal header-bottom">
    <a class="button button-clear ion-chevron-left" ui-sref="subGroups"></a>
    <h1 class="title">{{chatroom.subgroup_title}}</h1>
    <a class="button button-clear ion-gear-a" ui-sref="subGroupSettings"></a>
  </ion-header-bar>
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item class="item item-avatar item-text-wrap" ng-repeat="chat in chatroom.chats track by $index">
        <img class="img-circle" src="../img/meetle.png">
        <h2 class="make-royal"> {{chat.user_username}} </h2>
        <p> {{chat.text}} </p>
        <a class="button button-clear like-button" ng-click="likeChat(chat, $index)"> <!-- Parker had $index field as well? -->
          <button class="button button-clear button-assertive icon" ng-class="chat.liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></button>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <form ng-submit="addChat()" class="text-input">
        <input class="text-field royaled" type="text" placeholder="Message" ng-model="chatroom.text" autofocus>
      </form>
    </label>
    <button type="submit" class="button button-royal button-clear" ng-click="addChat()" ng-disabled="!chatroom.text">Send</button>
  </ion-footer-bar>
</ion-view>