<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-royal tabs-color-light">

  <ion-tab title="Chat" icon-off="ion-ios-chatboxes" icon-on="ion-ios-chatboxes" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Meetups" icon-off="ion-ios-clock" icon-on="ion-ios-clock" href="#/tab/meetups">
    <ion-nav-view name="tab-meetups"></ion-nav-view>
  </ion-tab>

</ion-tabs>
